body {
    font-family: monospace, Arial, sans-serif;
    background-color: azure;
}

footer {
    padding-top: 50px;
    text-align: center;
}

a {
    font-size: x-large;
    text-decoration: none;
    padding: 0px 15px 0px 15px;
    color: white;
    border-left: 3px solid black;
}

#nav {
    height: 30px;
    background: darkgray;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 6px 6px rgb(95, 95, 95);
    text-align: center;
  }

  #login {
    margin-top: 20px;
    margin-left: 15px;
    text-align: left;
  }

#dealer-cards img, #your-cards img {
    height: 200px;
    width: 150px;
    margin: 5px;
}

#your-highscore {
    text-align: right;
    padding-top: 15px;
}

#hit, #stay, #bet {
    width: 125px;
    height: 75px;
    font-size: 35px;
    background-color: lightgray;
}

#hit:hover, #stay:hover, #bet:hover {
    background-color: darkgray ;
}

#bets-number {
    padding-top: 20px;
    font-size: 25px;
}

#win-loose {
    padding-top: 20px;
}